# Зависимости
node_modules/
package-lock.json

# Редакторы и IDE
.vscode/

# Системные файлы
.DS_Store
Thumbs.db

# Линтеры и форматтеры 
.eslintignore
.eslintrc.js
.eslintrc.json
.prettierrc

# GitHub настройки 
.github/

# Другие
favicon.ico